/* Variables de colores */
:root {
    --color-fondo: #ffffff;
    --color-encabezado: #ffffff;
    --color-texto: rgb(47, 47, 47);
    --color-boton: rgb(255, 255, 255);
    --color-separador: rgb(146, 146, 146);
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

/* Encabezado */
header {
   
    background-color: var(--color-encabezado);
    color: var(--color-texto);
    text-align: center;
    padding: 1rem;
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(113, 113, 113);
    
}

/* Botones */
button {
    margin: 0.5rem;
    color: var(--color-boton);
    border: none;
    cursor: pointer;
}

/* Categorías */
.categorias img {
    text-align: center;
    padding: 0%;
    background-color: var(--color-encabezado);
    width: 180px;
    height: 75px;
    border: none;
    cursor: pointer;
}

/* Grid de imágenes */
.imagenes-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Ajustar el ancho mínimo y máximo */
    gap: 0.3rem;
    justify-items: center;
    align-items: start;
}

/* Contenedor de imágenes */
.imagen-container {
    text-align: center;
    padding: 0.1rem;
    background-color: white;
    width: 100%; /* Ancho al 100% para llenar el espacio en el grid */
}

/* Imágenes */
.imagen-container img {
    max-width: 100%; /* Máximo ancho del 100% para ajustarse al contenedor */
    height: auto; /* Mantener la proporción de aspecto */
    cursor: pointer;
}
.categoria-button {
    padding: 0; /* Eliminar relleno */
    border: none; /* Eliminar borde */
    background: none; /* Eliminar fondo */
}
.categoria-button img {
    border: none; /* Eliminar borde de la imagen */
}

/* Separador */
.separador {
    color: var(--color-separador);
    width: 100%;
    margin-bottom: 0.5rem;
    grid-column: 1 / -1;
}
