/* Contenedor principal de la ficha del usuario */
#ficha-container {
    margin-top: 5rem;
    text-align: center;
}

/* Mensaje inicial cuando no hay datos */
#mensaje-inicial {
    font-size: 1.5rem;
    color: var(--color-texto);
    margin-bottom: 2rem;
}

/* Información del usuario */
#ficha-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#ficha-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-texto);
}

#foto-usuario-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Botón de ajustar ficha */
#form-toggle {
    display: block;
    margin: 2rem auto;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--color-boton);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Formulario de ajustes de ficha */
#formulario {
    margin-top: 2rem;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control, .form-control-file {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-check-input {
    margin-top: 0.3rem;
}

#modal-save-button {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--color-boton);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#seccion-adultos {
    margin-top: 1rem;
}

/* Botón de regresar */
#back-button-usuario {
    font-size: 1rem;
    color: var(--color-boton);
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#back-button-usuario i {
    margin-right: 0.5rem;
}
