body {
    font-family: Arial, sans-serif;
}

#ficha-container {
    margin-top: 50px;
}

.rounded-circle {
    width: 100px;
    height: 100px;
}

.adulto-card {
    margin-bottom: 20px;
}

#ajustar-ficha {
    margin-top: 50px;
}

#formulario {
    display: none;
}

#form-toggle {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}
